@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
     url(~assets/font/Roboto.ttf) format("truetype");
}
@font-face {
    font-family: "Barlow";
    src: local("Barlow"),
     url(~assets/font/Barlow.ttf) format("truetype");
}
@font-face {
    font-family: "RedRose";
    src: local("RedRose"),
     url(~assets/font/RedRose.ttf) format("truetype");
}

$skeleton-background: 'red';
$navbar-height: 4.25rem;
// $navbar-background-color: ;
$navbar-burger-color: white;
$navbar-item-color:white;
$menu-item-color: black;
$menu-item-active-color: white;
$menu-item-hover-background-color: none;
$menu-item-active-background-color:transparent;
$primary: black;
$vs-dropdown-max-height:30px;
$input-background-color: white;
.navbar-burger.burger.is-active{
    color:white;
}
.pagination {
    .pagination-list {
        margin-top:0px;
        li {
            margin-top:0px;
        }
    }
}
.v-pagination__item--active {
  background-color: #154CA0 !important;
}

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
$sidebar-width: 200px;
.b-sidebar .sidebar-content {
    width:200px;
}

.b-sidebar .sidebar-content {
    background-color: whitesmoke;
    -webkit-box-shadow: 5px 0px 13px 3px rgb(10 10 10 / 10%);
    box-shadow: 5px 0px 13px 3px rgb(10 10 10 / 10%);
    width: 200px;
    z-index: 39;
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }

// .page-enter-active,
// .page-leave-active {
//   transition: opacity 0.01s;
// }
// .page-enter,
// .page-leave-active {
//   opacity: 0;
// }