<template>
  <svg
    width="298"
    height="369"
    viewBox="0 0 298 369"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M44.1944 3.65431C44.4172 1.80271 45.9881 0.409453 47.8531 0.409453H292.936C295.146 0.409453 296.859 2.3408 296.595 4.53472L253.36 363.887C253.137 365.739 251.566 367.132 249.701 367.132H4.61743C2.40769 367.132 0.694772 365.201 0.958736 363.007L44.1944 3.65431Z"
      :fill="bgColor"
      fill-opacity="0.9"
      stroke="#B90909"
      stroke-width="0.818906"
    />
    <g style="mix-blend-mode: overlay" opacity="0.2">
      <mask
        id="mask0_660_3341"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="1"
        width="298"
        height="368"
      >
        <path
          d="M44.1936 4.66725C44.4164 2.81565 45.9874 1.42239 47.8523 1.42239H292.936C295.146 1.42239 296.858 3.35374 296.594 5.54766L253.359 364.9C253.136 366.752 251.565 368.145 249.7 368.145H4.6167C2.40695 368.145 0.69404 366.214 0.958003 364.02L44.1936 4.66725Z"
          :fill="bgColor"
          fill-opacity="0.9"
          stroke="#B90909"
          stroke-width="0.818906"
        />
      </mask>
      <g mask="url(#mask0_660_3341)">
        <path
          d="M284.082 109.357L301.249 158.082L268.069 196.287L217.741 187.017L199.871 139.408L233.754 100.087L284.082 109.357Z"
          fill="url(#paint0_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M301.023 17.3848L318.19 66.1089L285.011 104.314L234.683 95.044L216.812 47.4352L250.695 8.11445L301.023 17.3848Z"
          fill="url(#paint1_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M122.815 79.6509L139.982 128.375L106.802 166.58L56.4745 157.31L38.604 109.701L72.4868 70.3806L122.815 79.6509Z"
          fill="url(#paint2_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M139.756 -12.3188L156.923 36.4053L123.744 74.6107L73.4161 65.3404L55.5455 17.7316L89.4284 -21.5892L139.756 -12.3188Z"
          fill="url(#paint3_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M65.8163 -76.0113L82.9835 -27.2872L49.804 10.9182L-0.52376 1.64788L-18.3943 -45.9609L15.4886 -85.2816L65.8163 -76.0113Z"
          fill="url(#paint4_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M47.1937 16.4502L64.361 65.1743L31.1814 103.38L-19.1463 94.1094L-37.0169 46.5006L-3.134 7.17989L47.1937 16.4502Z"
          fill="url(#paint5_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M267.14 201.33L284.307 250.054L251.128 288.26L200.8 278.99L182.929 231.381L216.812 192.06L267.14 201.33Z"
          fill="url(#paint6_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M105.871 171.625L123.038 220.349L89.8589 258.555L39.5312 249.284L21.6606 201.676L55.5435 162.355L105.871 171.625Z"
          fill="url(#paint7_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M250.198 293.3L267.366 342.024L234.186 380.23L183.858 370.959L165.988 323.35L199.871 284.03L250.198 293.3Z"
          fill="url(#paint8_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M88.9297 263.595L106.097 312.319L72.9174 350.524L22.5896 341.254L4.71911 293.645L38.602 254.325L88.9297 263.595Z"
          fill="url(#paint9_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M177.799 232.658L194.966 281.382L161.786 319.587L111.459 310.317L93.5883 262.708L127.471 223.387L177.799 232.658Z"
          fill="url(#paint10_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M339.01 262.354L356.178 311.078L322.998 349.283L272.67 340.013L254.8 292.404L288.683 253.083L339.01 262.354Z"
          fill="url(#paint11_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M322.134 353.978L339.301 402.702L306.121 440.907L255.794 431.637L237.923 384.028L271.806 344.707L322.134 353.978Z"
          fill="url(#paint12_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M211.746 48.3605L228.914 97.0846L195.734 135.29L145.406 126.02L127.536 78.4109L161.419 39.0902L211.746 48.3605Z"
          fill="url(#paint13_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M372.958 78.0548L390.126 126.779L356.946 164.984L306.618 155.714L288.748 108.105L322.631 68.7845L372.958 78.0548Z"
          fill="url(#paint14_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M194.826 140.224L211.993 188.948L178.814 227.153L128.486 217.883L110.615 170.274L144.498 130.954L194.826 140.224Z"
          fill="url(#paint15_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M356.036 169.918L373.203 218.642L340.023 256.848L289.696 247.577L271.825 199.969L305.708 160.648L356.036 169.918Z"
          fill="url(#paint16_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M228.774 -44.0749L245.941 4.64918L212.761 42.8546L162.434 33.5843L144.563 -14.0245L178.446 -53.3452L228.774 -44.0749Z"
          fill="url(#paint17_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
        <path
          d="M317.555 -74.8717L334.722 -26.1476L301.543 12.0578L251.215 2.78751L233.345 -44.8213L267.227 -84.142L317.555 -74.8717Z"
          fill="url(#paint18_linear_660_3341)"
          stroke="#8CB9FF"
          stroke-width="0.818906"
        />
      </g>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_660_3341"
        x1="299.859"
        y1="128.967"
        x2="229.342"
        y2="205.407"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint1_linear_660_3341"
        x1="316.8"
        y1="36.9941"
        x2="246.283"
        y2="113.434"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint2_linear_660_3341"
        x1="138.592"
        y1="99.2602"
        x2="68.0747"
        y2="175.7"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint3_linear_660_3341"
        x1="155.533"
        y1="7.29051"
        x2="85.0162"
        y2="83.7303"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint4_linear_660_3341"
        x1="81.5937"
        y1="-56.402"
        x2="11.0764"
        y2="20.0378"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint5_linear_660_3341"
        x1="62.9711"
        y1="36.0596"
        x2="-7.54616"
        y2="112.499"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint6_linear_660_3341"
        x1="282.917"
        y1="220.94"
        x2="212.4"
        y2="297.379"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint7_linear_660_3341"
        x1="121.649"
        y1="191.235"
        x2="51.1313"
        y2="267.674"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint8_linear_660_3341"
        x1="265.976"
        y1="312.909"
        x2="195.459"
        y2="389.349"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint9_linear_660_3341"
        x1="104.707"
        y1="283.204"
        x2="34.1898"
        y2="359.644"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint10_linear_660_3341"
        x1="193.576"
        y1="252.267"
        x2="123.059"
        y2="328.707"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint11_linear_660_3341"
        x1="354.788"
        y1="281.963"
        x2="284.271"
        y2="358.403"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint12_linear_660_3341"
        x1="337.911"
        y1="373.587"
        x2="267.394"
        y2="450.027"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint13_linear_660_3341"
        x1="227.524"
        y1="67.9698"
        x2="157.007"
        y2="144.41"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint14_linear_660_3341"
        x1="388.736"
        y1="97.6642"
        x2="318.218"
        y2="174.104"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint15_linear_660_3341"
        x1="210.603"
        y1="159.833"
        x2="140.086"
        y2="236.273"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint16_linear_660_3341"
        x1="371.813"
        y1="189.528"
        x2="301.296"
        y2="265.967"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint17_linear_660_3341"
        x1="244.551"
        y1="-24.4656"
        x2="174.034"
        y2="51.9743"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
      <linearGradient
        id="paint18_linear_660_3341"
        x1="333.333"
        y1="-55.2623"
        x2="262.815"
        y2="21.1775"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="0.925667" stop-color="white" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg>
</template>

<script>
export default {
  props: {
    bgColor: {
      type: String,
      default: '#B90909'
    }
  }
}
</script>
