<template>
  <svg
    width="21"
    height="30"
    viewBox="0 0 21 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.75" filter="url(#filter0_d_1_172)">
      <path
        d="M5.04766 2.08712H16.1147V10.1491C16.1147 13.2052 13.6372 15.6826 10.5812 15.6826C7.52509 15.6826 5.04766 13.2052 5.04766 10.1491V2.08712Z"
        :stroke="bgColor"
        stroke-width="2.4"
      />
      <rect
        x="6.39258"
        y="19.4875"
        width="8.73535"
        height="3.3479"
        rx="1.67395"
        :fill="bgColor"
      />
      <rect
        x="11.8535"
        y="12.7913"
        width="8.92772"
        height="2.18384"
        rx="1.09192"
        transform="rotate(90 11.8535 12.7913)"
        :fill="bgColor"
      />
    </g>
    <defs>
      <filter
        id="filter0_d_1_172"
        x="0.647656"
        y="0.887115"
        width="19.867"
        height="28.3482"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="3.2" />
        <feGaussianBlur stdDeviation="1.6" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_1_172"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_1_172"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</template>

<script>
export default {
  props: {
    bgColor: {
      type: String,
      default: 'white'
    }
  }
}
</script>
